/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 11, 2021, 12:32:14 PM
    Author     : sahas
*/
#invoice{
    font-size: 10px;
}
.options{
    font-size: 10px;
    float: right;
}