.invoice-all{
    font-size: 10px;
}
.img_class_logo{
    border-radius: 50%;
}
.invoice-btn a {

    font-size: 12px !important;
}

.invoice_user{
    margin-top: 20px !important;
    padding-left: 65px !important;
}