/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 11, 2021, 4:22:16 PM
    Author     : sahas
*/
.img_url{
    height:20px;
    width:20px;
    background-size: contain; 
    max-height:20px;
    border-radius: 100px;
}
.option_th{
    width:33%;
}
.edit_pay{
    width: 25% !important;
}
.invoicebutton{
    color: #fff;
    width: 25%;
}
.due_div{
    border: 2px solid red; 
    color: red;
}
.pay_class{
    background: #39B27C;
}
.pay_class1{
   opacity: 1;
   display: block;
}
#pay_class2{
  float: right;
  font-size: 18px;
}
#invoice{
    font-size: 10px;
}
.information{
    float: left;
}
@media print {

    .modal-content{
        width: 100%;
    }


    .modal{
        overflow: hidden;
    }
}
