/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 29, 2021, 1:23:41 AM
    Author     : shaibalsaha
*/
@page {
  
    margin: 0;  /* this affects the margin in the printer settings */
    border: 0;
  border: none !important;
}
.text_pos{
    float: right;
    text-align: right !important;
}

