/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 11, 2021, 6:58:50 PM
    Author     : sahas
*/
.activities_by{
    color: #009988;
    text-transform: capitalize;
}
.img_url{
    height:20px;
    width:20px;
    background-size: contain; 
    max-height:20px;
    border-radius: 100px;
}
.option_th{
    width:33%;
}
.clearfix{
    margin-bottom: 0px;
}

.total td{
    background: yellow;
}
.due_div{
    border: 2px solid red;
    color: red;
}