/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 13, 2021, 11:27:50 PM
    Author     : sahas
*/

form {
  border: 0px;
}

.med_selected {
  background: #fff;
  padding: 10px 0px;
  margin: 5px;
}

.select2-container--bgform
  .select2-selection--multiple
  .select2-selection__choice {
  clear: both !important;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 500;
  font-weight: bold;
}

.medicine_block {
  background: #f1f2f7;
  padding: 50px !important;
}
.lab_test {
  background: #f1f2f7;
  padding: 50px !important;
}
form input {
  text-align: left;
}

.medi_div {
  float: left !important;
}
