/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 13, 2021, 9:59:31 PM
    Author     : sahas
*/

 form {
        background: #fff!important;
        padding: 50px 20px;
    }
