/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 4, 2021, 12:17:07 AM
    Author     : sahas
*/
#main-content {
    margin-right: 211px;
    margin-left: 0px; 
}

body {
    background: #f1f1f1;

}