/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 4, 2021, 9:55:52 AM
    Author     : sahas
*/

table{
    box-shadow: none;
}

.fc-head{

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);

}

.panel-body{
    background: #fff;
}

thead{
    background: #fff;
}

.panel-body {
    background: #fff;
}

.state-overview .panel-heading {
    border-radius: 0px;
    background: #fff !important;
    color: #000;
    padding-left: 10px;
    font-size: 13px !important;
    margin-top: 3px;
    text-align: center;
}

.add_patient{
    background: #009988;
}

.add_appointment{
    background: #f8d347;
}

.add_prescription{
    background: blue;
}

.y-axis li span {
    display: block;
    margin: -20px 0 0 -25px;
    padding: 0 20px;
    width: 40px;
}

.sale_color{
    background: #69D2E7 !important;
    padding: 10px !important;
    font-size: 5px;
    margin-right: 10px;
}

.expense_color{
    background: #F38630 !important;
    padding: 10px !important;
    font-size: 5px;
    margin-right: 10px;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
    width: 100% !important;
    height: 101% !important;
    margin-bottom: 18%;
}  


.panel-heading{
    margin-top: 0px;
}

.wrapper {
    margin-top: 50px;
    padding: 0px 10px 0px 0px !important;
    padding: 11px 20px 0px 10px !important;
    padding: 0px 35px 0px 25px !important;
}
.header_modal{
    width: 80%;
}
.state_overview_design{
    padding: 23px 0px;
}
.detailsbutton{
    color: #fff;
}