/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2021, 5:08:26 PM
    Author     : sahas
*/

.img_url{
    height:20px;
    width:20px;
    background-size: contain; 
    max-height:20px;
    border-radius: 100px;
}
.img{
    width:95% !important;
}
.img_class{
    width:10% !important;
}
.img_url{
    width: 200px; 
    height: 150px;
}
.img_thumb{
    max-width: 200px; 
    max-height: 150px;
    line-height: 20px;
}
textarea.form-control {
    height: auto !important;
}
