/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 13, 2021, 8:20:42 AM
    Author     : sahas
*/
.settings_info{
    font-size: 10px;
}
.option{
    font-size: 10px; 
    float: right;
}