/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2021, 4:38:18 PM
    Author     : sahas
*/
.panel-primary>.panel-heading {
    padding: 10px;
}

.panel-body {
    background: #f1f2f7;
}
.table_div{
    background: white;
}