
@media(min-width:768px) and (max-width:991px){
   .home-content{
  
       margin-top: 80%;
       
}
    
    .home-content h1{
        font-size: 27px
}
.home-content h6{
    
    font-size: 15px;
    
}
    
    
    .social-icon ul li{
    float: left;
    width: 30px;
    height: 30px;
     
    margin-right: 10px;
   
}

.social-icon ul li  a{
    background: #505b71;
    display: block;
    text-align: center;
    padding: 10px;
    line-height: 0;
    font-size: 10px;
    color: #fff;
   
}

}
@media(min-width:481px) and (max-width:767px){
   
     .home-content{
  
       margin-top: 95%;
         
       
}
    
    .home-content h1{
        font-size: 35px
}
.home-content h6{
    
    font-size: 21px;
    margin-top: 10px;
    
}
    
    .cube{
    left: 45%;
    
}
    .social-icon ul{
        margin-left: 15%;
    }  
.social-icon ul li{
    float: left;
    width: 60px;
    height: 60px;

    margin-left: 10px;
   
}

.social-icon ul li  a{
    background: #505b71;
    display: block;
    text-align: center;
    padding: 5px;
    line-height: 60px;
    font-size: 20px;
    color: #fff;
   
}
    
    
    
}
@media (max-width:480px){
   
       .home-content{
  
    margin-top: 150%;
           margin-left: 20%;
       
}
    
    .home-content h1{
        font-size: 18px
}
.home-content h6{
    
    font-size: 12px;
    
}
      .cube{
    left: 45%;
    
}  
    .shape{
    margin-top: 30px;
   
 border-radius:0px;
}
.shape p{
    padding: 2px;
    margin-bottom: 0px;
}
   .latest-tweet .row{
    background: #505B71;
    border-radius: 0px;
    padding: 5px;
    
}
.latest-tweet .fa{
    font-size: 22px;
    line-height: 40px;
    color:#00ADEF;
    display: none;
} 
   
    .navbar-brand{
        font-size: 21px;
    }
    
    
}