html,
body {
    height: 100%;
}

body {
    color: #212226;
	font-family:"sans-serif"
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "raleway", "sans-serif"
}

p {
    font-family: "open sans";
    font-weight: 400px;
    line-height: 24px;
    font-size: 13px;
}
.navbar{
    
}

.navbar-brand{
    color: #BABABA;
    font-size: 32px;
    font-weight: normal;
    font-family: sans-serif
}
.navbar-brand:hover{
   color: #BABABA; 
}
.navbar-brand span{
    color: #F4726E;
}
.nav-link{
    color: #BABABA;
    margin-right: 2px;
}
.navbar-nav .active{
  background: #F77B6F;
    border-radius: 5px;
    color:#fff;
     padding: 10px;
}
.nav-link:hover{
    background: #F77B6F;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}
.nav-link:focus{
      background: #F77B6F;
    color: #fff;
    padding: 10px;
    border-radius: 5px; 
}
.navbar-toggler .fa{
    padding: 3px;
    border:1px solid #333;;
    border-radius: 2px;
}
.scrollTop{
    background: #fff;
}
#header{
  //  background: url(../img/home/1503411077revised-bhatia-homebanner-03.jpg)no-repeat;
    height: 600px;
    background-position: center;
    position: relative;
    background-size: cover;
}
.home-content{
    margin-top: 40%;
}
.home-content h1{
    font-family: sans-serif;
      color: red;
}
.home-content h6{
    text-align: center;
    color: #ddd;
    font-size: 22px;
    font-weight: bold;
}
#hospital-management .card{
    background: #ddd;
    color:#333;
    font-size: 42px;
    border:0px;
    text-align: center;
}
#hospital-management .card-content{
    padding: 20px;
    
}
#hospital-management .card-content h6{
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: serif;
    text-align: center;
}
#hospital-management  .card .fa{
    color: #F77B6F;
}
#hospital-management  .card:hover{
    background: #F8D347;
    color: #fff;
    cursor: pointer;
}
#hospital-management  .card:hover .fa{
   
}
#hospital-management  .card-2nd:hover{
    background: red;
    color: #fff;
    border-radius: 5px;
}
#hospital-management  .card:hover .fa{
    color: #fff;
    transform: scale(1.5);
    transition: all ease 0.3s;
   
} 
.modal{

}
.modal-body{
    background: #009988;
    padding: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.modal-body label{
    color:#fff;
    margin-top: 10px;
}
#service{
    background: #F2F2F2;
}
#service h1{
    font-size: 32px;
    font-family: sans-serif;
    color: #BABABA;
}
#package .card{
    background: #EEEEEE;
}
#package .card p{
    border-bottom: 1px dotted;
    padding: 2px;
    margin: 10px;
}
#package .btn{
    background: #ACACAC;
    border: 0px;
}
#footer{
    background: #475268;
}
#footer h4{
    font-size: 21px;
    font-weight: bold;
    color:#fff;
}
#footer p{
    color: #fff;
}
.contact-info span{
    color:#9E676A;
}
.cube{
    position: absolute;
     content: '';
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid  #505B71;;
    top: 40px;
    left: 50px;
    
}
.latest-tweet .row{
    background: #505B71;
    border-radius: 5px;
    padding: 10px;
    
}
.latest-tweet .fa{
    font-size: 32px;
    line-height: 50px;
    color:#00ADEF;
}
.shape{
    margin-top: 30px;
   
 border-radius:5px;
}
.shape p{
    padding: 5px;
    margin-bottom: 0px;
}
.shape span{
     color:#00ADEF;
}
.social-icon ul{
    list-style: none;
    
}
.social-icon ul li{
    float: left;
    width: 60px;
    height: 60px;
     
    margin-right: 10px;
   
}

.social-icon ul li  a{
    background: #505b71;
    display: block;
    text-align: center;
    padding: 5px;
    line-height: 60px;
    font-size: 20px;
    color: #fff;
   
}
.social-icon ul li:first-child:hover a{
    background: #3A5896;
    transition: all ease 0.2s;
}
.social-icon ul li:nth-child(2):hover a{
    background: #D74A37;
     transition: all ease 0.2s;
}
.social-icon ul li:nth-child(3):hover a{
    background: #5BA5D8;
     transition: all ease 0.2s;
}
.social-icon ul li:last-child:hover a{
    background: #F80000;
     transition: all ease 0.2s;
}
.social-media h4{
    margin-left: 40px;
}